.homepage-hero {
  max-height: 75rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .wrapper {
      min-height: 75vh;
      display: grid;
  }

  &__container {
      position: relative;
      height: 100%;
      display: grid;
      place-content: center;
      overflow: hidden;
      border-radius: var(--border-radius);
      max-height: 80rem;


      .header {
        text-align: center;

        .rich-text {
          font-size: var(--font-size-body-small);
        }
      }
  }

  &__video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}