.homepage-hero {
  max-height: 75rem;

  &__container {
      position: relative;
  }

  &__video-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -2;
  }
}