.homepage-hero {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .wrapper {
      display: grid;
  }

  &__container {
      position: relative;
      padding-top: 20rem;
      padding-bottom: 20rem;
      height: 100%;
      display: grid;
      place-content: center;
      overflow: hidden;
      border-radius: var(--border-radius);
      max-height: 75rem;

      .header {
        text-align: center;
        padding: 5rem;

        .rich-text {
          font-size: var(--font-size-body-small);
        }
      }
  }

  &__video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}