.navbar {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
  }

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10rem;
    text-transform: uppercase;
    height: 100%;
  }

  &__link {
    position: relative;
    
    .navbar__link-navlink,
    .navbar__link-title {
      transition: text-shadow .1s ease-in;
      will-change: text-shadow;

      &:hover {
        text-shadow: 0.3px 0 currentColor, -0.3px 0 currentColor;
      }
    }
  }

  &__link,
  &__contact .navbar__link-navlink {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1rem;
      background-color: var(--color-neo);
      opacity: 0;
      transition: opacity .1s ease-in;
      will-change: opacity;
      pointer-events: none;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &-title {
      cursor: pointer;
    }

    .navbar__link-navlink, 
    .navbar__link-title {
      text-decoration: none;
      display: flex;
    }
  }

  &__contact {
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }
}