.navbar {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
  }

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    text-transform: uppercase;
  }

  &__contact {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  &__link {
    text-decoration: none;
  }
}