@import 'app/common/styles/mixins/media.scss';

.CTA {
  text-align: center;
  margin-bottom: 5rem;

  &__container {
    background-color: var(--color-beige);
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    place-content: center;
    border-radius: var(--border-radius);

    .header {
      padding: 1rem;
    }

    &,
    .header {
      gap: 3rem;
    }
  }

  &__contact-info {
    display: flex;
    margin: 0 auto;
    gap: 4rem;

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
    }

    &-text {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      @include media(mobile) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}