.action-button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-neo);
  cursor: pointer;
  display: grid;
  place-content: center;
  position: relative;
  transition: border-color .3s ease;

  &:not(.action-button--secondary) {
    &:hover {
      border-color: var(--color-dark);

      .action-button__arrow {
        transform: translateY(170%);

        path {
          fill: var(--color-dark);
        }
      }
    }
  }

  &__arrow {
    height: 2rem;
    transition: transform .3s ease, fill .3s ease;
    will-change: transform;

    path {
      fill: var(--color-neo);
      transition: fill .3s ease;
    }
  }

  &--secondary {
    border: 1px solid var(--color-ultragray);

    .action-button__arrow {
      transform: rotate(-45deg);

      path {
        fill: var(--color-ultragray);
      }
    }
  }
}