@import 'app/common/styles/mixins/media.scss';

.details {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 25rem;
    justify-content: left;

    @include media(tablet-h) {
      gap: 6rem;
    }

    @include media(tablet) {
      flex-direction: column-reverse;
      gap: 5rem;
      align-items: flex-start;
    }

    @include media($min: tablet-h) {
      flex-direction: row-reverse;
    }

    & > .details__image {
      // min-width: 50%;
      width: 60rem;

      @include media(tablet) {
        // max-width: 100%;
      }

      @include media(tablet) {
        aspect-ratio: 2 / 1;
        overflow: hidden;
      }

      @include media($min: laptop) {
        // min-width: 60rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 44rem;

    .heading {
      font-size: var(--font-size-h4);
    }

    .rich-text {
      color: var(--color-gray);
    }
  }

  &--reverse {
    .wrapper {
      gap: 10rem;
      justify-content: unset;

      @include media($min: tablet-h) {
        flex-direction: row;
      }

      .details__content {
        margin-left: 10rem;
      }
    }
  }
}