@import 'app/common/styles/mixins/media.scss';

.details {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 10rem;

    @include media(tablet-h) {
      gap: 6rem;
    }

    @include media(tablet) {
      flex-direction: column-reverse;
      gap: 5rem;
      align-items: flex-start;
    }

    @include media($min: tablet-h) {
      flex-direction: row-reverse;
    }

    & > .details__image {
      min-width: 50%;

      @include media(tablet) {
        max-width: 100%;
      }

      @include media(tablet) {
        aspect-ratio: 2 / 1;
        overflow: hidden;
      }

      @include media($min: laptop) {
        min-width: 60rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .heading {
      font-size: var(--font-size-h3)
    }
  }

  &--reverse {
    .wrapper {
      @include media($min: tablet-h) {
        flex-direction: row;
      }
    }
  }
}