.bckg-rect {
  background-color: var(--color-beige);
  width: 70vw;
  height: 70vh;
  position: absolute;
  z-index: -1;

  &.bckg-rect--left {
      top: 0;
      left: 0;
  }

  &.bckg-rect--right {
      top: 0;
      right: 0;
  }

  &.bckg-rect--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}