@import 'app/common/styles/mixins/media.scss';

.features-list {
  margin-top: 3rem;
  margin-bottom: 5rem;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    @include media($min: tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .rich-text {
    text-align: center;
    max-width: 90rem;

    @include media($min: tablet) {
      grid-column: span 2;
      place-self: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    .heading {
      text-align: center;
      font-weight: 600;

      @include media($min: tablet) {
        text-align: left;
      }
    }
  }
  
  &__images {
    img {
      border-radius: var(--border-radius);
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-ultragray);

    @include media($min: tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &-caption {
      p {
        font-size: var(--font-size-h3);
        font-weight: 600;
  
        @include media($min: tablet) {
          font-size: var(--font-size-h4);
        }
      }
    }

    &--index {
      @include media(tablet) {
        display: none;
      }
    }
  }
}