@import 'app/common/styles/mixins/media.scss';

.image-and-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  column-gap: 16rem;
  margin-bottom: 5rem;
  align-items: center;

  @include media(mobile) {
    padding-left: 3%;
    padding-right: 3%;
  }

  @include media(tablet-h) {
    column-gap: 8rem;
  }

  @include media($min: tablet-h) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
  }

  .heading {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
    font-size: var(--font-size-h4);

    @include media($min: tablet-h) {
      grid-column: 2;
      grid-row: 1;
      text-align: left;
      margin-bottom: 0;
      align-self: end;
    }

    strong {
      font-weight: 600;
      font-size: var(--font-size-h2);
    }
  }

  &__image-wrapper {
    grid-column: 1 / -1;
    width: 100%;

    @include media($min: tablet-h) {
      grid-column: 1;
      grid-row: 1 / span 2;
      margin-right: 2rem;
    }

    .image-and-content__image {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .rich-text {
    grid-column: 1 / -1;
    font-size: var(--font-size-body-regular);

    @include media(tablet) {
      text-align: center;
      place-self: center;
    }

    @include media($min: tablet-h) {
      grid-column: 2;
      grid-row: 2;
      max-width: 55rem;
    }
  }
}