@import 'app/common/styles/mixins/media.scss';

.blogCTA {
  text-align: center;
  margin-bottom: 5rem;

  &__container {
    background-color: var(--color-beige);
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    place-content: center;
    border-radius: var(--border-radius);
    row-gap: 2rem;

    .heading {
      line-height: 1.1em;

      strong {
        font-size: var(--font-size-h4);
      }
    }
  }

  &__caption {
    li {
      list-style-type: disc;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    place-self: center;

    @include media(mobile) {
      justify-content: center;
    }

    .button {
      font-size: var(--font-size-h6);
      display: grid;
      place-content: center;
      grid-template-columns: 1fr auto;
      align-items: center;
      cursor: pointer;

      &--primary {
        &:hover {
          color: var(--color-dark) !important;
        }
      }

      &--secondary {
        &:hover {
          background-color: var(--color-dark);
          color: var(--color-white);
    
          .button__arrow path {
            fill: var(--color-white);
          }
        }
      }
    }
  }
}