@import 'app/common/styles/mixins/media.scss';

.switchable-menu {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media($min: tablet-h) {
    padding-top: 10rem;
    padding-bottom: 13rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: relative;
  }

  &__item {
    @include media($min: tablet-h) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }

    &--active {
      @include media(tablet) {
        border-bottom: 1px solid var(--color-dark);
      }

      .switchable-menu__select {
        border-bottom: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-ultragray);
        position: relative; 
        padding-left: 2.4rem;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%; 
          transform: translateY(-50%); 
          height: 60%; 
          width: 4px; 
          background-color: var(--color-neo);

          @include media($min: tablet-h) {
            height: 65%;
            width: 5.5px;
          }
        }

        @include media($min: tablet-h) {
          border-bottom: 1px solid var(--color-dark);
        }

        .heading {
          color: var(--color-dark);
        }

        .action-button {
          border: 1px solid var(--color-dark);

          &__arrow {
            transform: rotate(180deg);

            @include media($min: tablet-h) {
              transform: rotate(-90deg);
            }
          
            path {
              fill: var(--color-dark);
            }
          }
        }
      }
    }
  }

  &__select {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-ultragray);
    gap: 0.2rem;
    
    &:hover,
    &:focus {
      .action-button {
        border: 1px solid var(--color-dark);

        &__arrow {
          transform: rotate(-90deg);

          path {
            fill: var(--color-dark);
          }
        }
      }
    }

    @include media($min: tablet-h) {
      max-width: 75rem;
      cursor: pointer;
    }
    
    .heading {
      color: var(--color-ultragray);
      font-size: var(--font-size-h3);
      font-weight: 600;
    }

    .action-button {
      height: 4.5rem;
      width: 4.5rem;
  
      &__arrow {
        height: 1.5rem;
        transform: rotate(0deg);

        @include media($min: tablet-h) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__item-content {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;

    @include media($min: tablet-h) {
      position: absolute;
      left: 55%;
      top: 0;
      padding-top: 0;
    }

    @include media($min: hd) {
      left: 60%;
    }

    &:not(.is-hidden) {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    .heading {
      font-size: var(--font-size-h4);
    }

    .rich-text {
      color: var(--color-gray);
    }
    
    .contact-info {
      flex-direction: column;
      gap: 1rem;
      
      &__text {
        font-weight: bold;
      }
    }
  }
}