@import 'app/common/styles/mixins/media.scss';

.footer {
  background-color: var(--color-beige);
  padding-top: 5rem;
  padding-bottom: 5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include media(tablet-h) {
      // flex-direction: column;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p:last-child {
      margin-top: 2rem;
    }
  }
  
  &__navigation {
    display: flex;
    gap: 5rem;

    @include media(tablet-h) {
      gap: 3rem;
      flex-direction: column;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-heading {
      text-transform: uppercase;
    }
  }

  .contact-info {
    align-self: baseline;
  }
}