@import 'app/common/styles/mixins/media.scss';

.footer {
  font-size: var(--font-size-body-small);
  background-color: var(--color-beige);
  padding-top: 5rem;
  padding-bottom: 5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include media(tablet-h) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    @include media(mobile) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: center;
    }
  }

  &__contact,
  &__navigation {
    @include media(mobile){
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p:last-child {
      margin-top: 2rem;
    }
  }
  
  &__navigation {
    display: flex;
    gap: 5rem;

    @include media(tablet-h) {
      gap: 3rem;
      flex-direction: column;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-heading {
      text-transform: uppercase;
    }
  }

  .contact-info {
    @include media(mobile) {
      flex-direction: column;
      gap: 1.5rem;
    }

    @include media($min: tablet) {
      align-self: baseline;
    }    
  }
}