@import 'app/common/styles/mixins/media.scss';

.image-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @include media($min: tablet-h) {

    }

    .heading {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 100vh;

    @include media($min: tablet-h) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 10rem;
      min-height: 60vh;
    }
  }

  &__current-image {
    @include media($min: tablet) {
      max-width: 50%;
      align-self: center;
    }

    @include media($min: tablet-h) {
      grid-column-start: 2;
      max-width: 90%;
      height: 40rem;
    }

    img {
      @include media($min: tablet-h) {
        // width: 100rem;
        // height: 62rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__listing {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @include media($min: tablet-h) {
      grid-row-start: 1;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &-image {
      width: 21rem;
      height: 13rem;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button-close {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1010;

    @include media(tablet) {
      width: fit-content;
      align-self: flex-end;
    }

    @include media($min: tablet-h) {
      align-self: flex-end;
    }
  }

  &__selector {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--color-ultragray);

    .arrow-previous {
      transform: rotate(90deg);
    }

    .arrow-next {
      img {
        transform: rotate(270deg);
      }
    }

    .arrow-previous, .arrow-next {
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;

      img {
        width: 3rem;
        height: 3rem;
      }
    }

    &-current {
      color: var(--color-dark);
    }
  }

  &__navigation {
    font-size: 2.4rem;
  }

  @include media(tablet) {}
}