.dropdown {
  position: absolute;
  padding: 1rem;
  z-index: 101;
  background-color: var(--color-white);
  top: 4rem;
  left: -1rem;
  min-width: 36rem;

  &__item {
    padding-left: 2rem;
    padding-top: .8rem;
    padding-bottom: .5rem;
    margin: 1rem 2rem;
    border-left: 4px solid transparent;

    &:hover,
    &:focus-within {
      border-left: 4px solid var(--color-neo);
      background-color: var(--color-beige);

      .dropdown__title,
      .dropdown__link:focus .dropdown__title {
        font-weight: bold;
      }

      .dropdown__description,
      .dropdown__link:focus .dropdown__description {
        color: var(--color-dark);
      }
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-size: var(--font-size-body-regular);
  }

  &__description {
    color: var(--color-gray);
    font-size: var(--font-size-body-small);
  }
}