@import 'app/common/styles/mixins/media.scss';

.blog-feed {
  position: relative;
  margin-bottom: 5rem;

  @include media(tablet) {
    margin-bottom: 10rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include media($min: laptop) {
      gap: 15rem;
    }
  }

  .header {
    @include media(tablet) {
      text-align: center;
    }

    .rich-text {
      font-size: var( --font-size-body-regular);
      color: var(--color-gray);

      @include media($min: tablet-h) {
        max-width: 59rem;
      }
    }
  }

  &__posts {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include media($min: tablet) {
      display: grid;
      grid-template-columns: 60% 1fr;
    }

    @include media($min: laptop) {
      gap: unset;
    }
  }

  &__post {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-decoration: none;

    @include media($min: laptop) {
      max-width: 50rem;
    }

    &:hover {
      .blog-feed__image img {
        transform: scale(1.15);
      }
    }

    &:nth-child(even) {
      @include media($min: laptop) {
        transform: translateY(-25rem);
      }

      @include media($min: laptop) {
        max-width: 40rem;
      }

      .blog-feed__image {
        @include media($min: tablet) {
          height: 30rem;
        }

        @include media($min: tablet-h) {
          height: 40rem;
        }

        @include media($min: laptop) {
          height: 50rem;
        }
      }
    }

    &:nth-child(1) {
      @include media($min: laptop) {
        transform: translateX(20rem);
      }
    }

    &:nth-child(3) {
      @include media($min: tablet) {
        transform: translate(3rem, -3rem);
      }

      @include media($min: laptop) {
        transform: translate(30rem, -5rem);
      }
    }

    &:nth-child(4) {
      @include media($min: tablet) {
        transform: translateX(3rem);
      }

      @include media($min: laptop) {
        transform: translate(9rem, -17rem);
      }
    }
  }

  &__image {
    border-radius: var(--border-radius);
    overflow: hidden;
    
    @include media(mobile) {
      height: 32rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.2s ease-in-out;
      will-change: transform;

      &:nth-child(odd) {
        transform-origin: left center;
      }

      &:nth-child(even) {
        transform-origin: left center;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      gap: unset;
      text-align: left;
      text-decoration: none;

      .rich-text {
        color: var(--color-dark);
      }
    }
  }

  .bckg-rect {
    top: 40%;
    width: 100%;
    height: 40%;

    @include media(tablet) {
     top: 20%; 
    }
  }
}