@import 'app/common/styles/mixins/media.scss';

.inwestycja-rect {
  background-color: var(--color-beige);
  width: 80vw;
  max-width: 89rem;
  height: 100rem;
  position: absolute;
  z-index: -100;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media ($min: tablet) {
    width: 60vw;
  }

  @include media($min: tablet-h) {
    width: 89rem;
  }
}